@import "styles/normalize.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.block{
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */

.header {
  background: #1565c0;
  color: #ffffff;
  padding: 0.7rem 2rem 0.7rem 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header .col-1 a.title{
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.header .logo {
  display: none;
  width: 100%;
  height: 100%;
}

.header .col-1{
  display: flex;
  align-items: center;
}

.header .col-2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .button{
  padding: 0.8rem 2rem;
  color: #ffffff;
  background-color: none;
  text-decoration: none;
  outline: none;
  border: none;
}

.header .col-2 .button{
  color: #ffffff;
  background-color: transparent;
}

.header .col-2 .trialBtn{
  background-color: #000;
}

.banner{
  display: flex;
  background: #263238;
  color: #fff;
  padding: 0.8rem 8rem;
}


/* Section */
.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  white-space: nowrap;
  align-items: flex-start;
  padding: 0.8rem 7rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.section-item{
  color: #fff;
  margin: 0.5rem 0.2rem;
  display: flex;
  width: 10em;
  flex-direction: column;
  text-align: center;
  border: 1px solid #efefef;
}

.card{
  background-color: #000;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 240px;
  padding: 0.2rem 0.5rem;
  box-sizing: border-box;
}

.card-item{
  color: #000;
  padding: 0.8rem;
  overflow: hidden;
  white-space: break-spaces;
}

/* Footer */
.footer{
  background-color: #000;
  padding: 3rem 7rem;
  color: #eceff1;
  box-sizing: border-box;
  overflow: hidden;
}

.footer ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.footer ul li{
  position: relative;
  margin-right: 15px;
}

.footer ul li a{
  display: block;
  text-decoration: none;
  color: #eceff1;
}
.footer p{
  margin-top: 0.5rem;
}

.footer ul li a:hover{
  color: #1565c0;
}

.footer li + li:before {
  content: " | ";
  position: absolute;
  left: -10px;
}

.footer .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}

.footer .socials img {
  margin: 0 0.5rem;
}
.footer .social-icons img {
  height: 24px;
}
.footer .store-icons img {
  height: 40px;
}

.footer .copyright {
  font-weight: 600;
  font-size: 0.8rem;
}


/* This was done later, i thought i should write a few media queries */

/* Extra-small */
@media screen and (max-width: 360px) {
  /* ... */
  .header .button{
    display: none;
  }
  .banner{
    padding: 1rem;
    text-align: center;
  }
  .header {
    padding: 1rem;
    text-align: center;
  }
  .section{
    padding: 0.8rem 1rem;
  }
  .footer{
    padding: 3rem;
    font-size: small;
  }
  .footer ul{
    align-items: flex-start;
  }
  .footer li + li:before {
    content: "";
  }
  .footer ul li{
    margin-right: 8px;
  }
  .footer .socials{
    flex-direction: column;
  }
  .footer .social-icons{
    width: 100%;
    margin-bottom: 1rem;
  }
  .footer .store-icons img{
    width: 100px;
  }
}

/* Small */
@media screen and (min-width: 361px) and (max-width: 480px) {
  /* ... */
  .header .button{
    display: none;
  }
  .banner{
    padding: 1rem;
    text-align: center;
  }
  .header {
    padding: 1rem;
    text-align: center;
  }
  .section{
    padding: 0.8rem 1rem;
  }
  .footer{
    padding: 3rem;
    font-size: small;
  }
  .footer ul{
    align-items: flex-start;
  }
  .footer li + li:before {
    content: "";
  }
  .footer ul li{
    margin-right: 8px;
  }
  .footer .socials{
    flex-direction: column;
  }
  .footer .social-icons{
    width: 100%;
    margin-bottom: 1rem;
  }
  .footer .store-icons img{
    width: 100px;
  }
}

/* Medium-only */
@media screen and (min-width: 481px) and (max-width: 960px) {
  /* ... */
  .header .button{
    display: none;
  }
  .banner{
    padding: 2rem;
  }
  .header {
    padding: 1rem;
  }
  .section{
    padding: 0.8rem 1rem;
  }
  .footer{
    padding: 3rem;
    font-size: small;
  }
  .footer ul{
    align-items: flex-start;
  }
  .footer .socials{
    flex-direction: column;
  }
  .footer .social-icons{
    width: 100%;
    margin-bottom: 1rem;
  }
  .footer .store-icons{
    width: 100%;
  }
}